#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
    // Обычная скорость
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

/ {
    // Медленная скорость мыши
    mmv_slow {
        compatible = "zmk,behavior-mouse-move";
        #binding-cells = <2>;
        time-to-max-speed-ms = <1500>;    // В 3 раза медленнее
        acceleration-exponent = <0>;       // Без ускорения
        trigger-period-ms = <20>;
    };

    keymap {
        compatible = "zmk,keymap";
        
        layer_2 {
            bindings = <
&trans  &trans          &trans          &trans           &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans  &trans
&trans  &trans          &mmv MOVE_UP    &trans           &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans  &trans
&trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans    &trans  &mkp MB1  &mkp MB3  &mkp MB2  &mo 5   &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans
            >;
        };
        
        // Слой с медленной скоростью
        layer_5 {
            bindings = <
&trans  &trans               &trans               &trans                &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans  &trans
&trans  &trans               &mmv_slow MOVE_UP    &trans                &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans  &trans
&trans  &mmv_slow MOVE_LEFT  &mmv_slow MOVE_DOWN  &mmv_slow MOVE_RIGHT  &trans  &trans    &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans  &trans  &trans
&trans  &trans               &trans               &trans                &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans  &trans
&trans  &trans               &trans               &trans                &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans
            >;
        };
    };
};
